<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <header th:fragment="header">
        <div id="top">
            <h3>MY CALENDAR</h3>
        </div>
        <div id="header_wrap">
            <a th:href="@{/}">home</a> &nbsp;&nbsp;

            <!--
            <span th:if="${session.loginedID == null}">
                <a th:href="@{/member/signup}">sign-up</a> &nbsp;&nbsp;
                <a th:href="@{/member/signin}">sign-in</a> &nbsp;&nbsp;
            </span>

            <span th:if="${session.loginedID != null}">
                <a th:href="@{/member/modify}">modify</a> &nbsp;&nbsp;
                <a th:href="@{/member/signout_confirm}">sign-out</a> &nbsp;&nbsp;
            </span>
            -->

            <th:block sec:authorize="!hasAnyRole('PRE_USER', 'USER')">
                <a th:href="@{/member/signup}">sign-up</a> &nbsp;&nbsp;
                <a th:href="@{/member/signin}">sign-in</a> &nbsp;&nbsp;
            </th:block>

            <th:block sec:authorize="hasAnyRole('PRE_USER', 'USER')">
                <a th:href="@{/member/modify}">modify</a> &nbsp;&nbsp;
                <a th:href="@{/member/signout_confirm}">sign-out</a> &nbsp;&nbsp;
            </th:block>

        </div>
    </header>

    <nav th:fragment="nav">
        <div id="nav_wrap">
            <a th:href="@{/planner}">planner</a>
        </div>
    </nav>

    <footer th:fragment="footer">
        <div id="footer_wrap">
            Copyright OFFICE Corp. All Rights Reserved.
        </div>
    </footer>

</html>