<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="~{include/title.html::title}" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/header_nav_footer.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/member.css}" >

    <script th:src="@{/js/member.js}"></script>

</head>
<body>

    <header th:replace="~{include/header_nav_footer.html::header}"/>
    <nav th:replace="~{include/header_nav_footer.html::nav}"/>

    <section>
        <div id="section_wrap">
            <div class="word">
                FINDPASSWORD FORM
            </div>
            <div class="content">
                <form   th:action="@{/member/findpassword_confirm}"
                        name="findpassword_form"
                        method="get">

                    <input type="text" name="id" placeholder="INPUT MEMBER ID"><br>
                    <input type="email" name="mail" placeholder="INPUT MEMBER MAIL"><br>
                    <input type="button" value="find-password" onclick="findpasswordForm();">
                    <input type="reset" value="reset">

                </form>
            </div>
        </div>
    </section>

    <footer th:replace="~{include/header_nav_footer.html::footer}"/>

</body>
</html>