<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="~{include/title.html::title}" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/header_nav_footer.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/member.css}" >

    <script th:src="@{/js/member.js}"></script>

</head>
<body>

    <header th:replace="~{include/header_nav_footer.html::header}"/>
    <nav th:replace="~{include/header_nav_footer.html::nav}"/>

    <section>
        <div id="section_wrap">
            <div class="word">
                SIGN-IN FORM
            </div>
            <div class="content">
                <form   th:action="@{/member/signin_confirm}"
                        name="signin_form"
                        method="post">

                    <input type="text" name="id" placeholder="INPUT MEMBER ID"><br>
                    <input type="password" name="pw" placeholder="INPUT MEMBER PW"><br>
                    <input type="button" value="sign-in" onclick="signinForm();">
                    <input type="reset" value="reset">

                </form>
            </div>

            <div class="other">
                <a th:href="@{/member/findpassword}">find-password</a>
                |
                <a th:href="@{/member/signup}">Not a member yet? sign-up</a>
            </div>

        </div>
    </section>

    <footer th:replace="~{include/header_nav_footer.html::footer}"/>

</body>
</html>