<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- 로그 설정에 사용할 변수를 설정 -->
    <Properties>
        <!-- 로그 패턴 설정 -->
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p [%c{1}] - %m%n</Property>
        <!-- 로그 파일 경로 설정 -->
        <Property name="LOG_PATH">logs</Property>
    </Properties>

    <!--  로그를 출력할 대상 설정  -->
    <Appenders>
        <!-- 콘솔 출력 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <File name="FileForRootByInfo" fileName="${LOG_PATH}/spring-root-info.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>

        <!-- app log -->
        <!--
        <File name="FileForAppByInfo" fileName="${LOG_PATH}/spring-app-info.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
        -->

        <!-- DEBUG -->
        <File name="FileForAppByDebug" fileName="${LOG_PATH}/spring-app-debug.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </File>

        <!-- INFO -->
        <File name="FileForAppByInfo" fileName="${LOG_PATH}/spring-app-info.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </File>

        <!-- WARN -->
        <File name="FileForAppByWarn" fileName="${LOG_PATH}/spring-app-warn.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </File>

        <!-- ERROR -->
        <File name="FileForAppByError" fileName="${LOG_PATH}/spring-app-error.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </File>

    </Appenders>

    <!-- 로그를 남기는 로거(Logger) 설정  -->
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileForRootByInfo" />
        </Root>

        <Logger name="com.office" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileForAppByDebug" />     <!-- DEBUG 어펜더 -->
            <AppenderRef ref="FileForAppByInfo" />     <!-- INFO 어펜더 -->
            <AppenderRef ref="FileForAppByWarn" />     <!-- WARN 어펜더 -->
            <AppenderRef ref="FileForAppByError" />     <!-- ERROR 어펜더 -->
        </Logger>
    </Loggers>

</Configuration>