* {
	margin: 0; padding: 0;
	}

a {
	color: #404040;
	text-decoration: none;
	}

li {
	list-style: none;
	}

input {
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
	margin: 3px;
	}

input[type='button'],
input[type='reset'] {
	width: 150px;
	cursor: pointer;
	}