section {
	width: 100%;
	padding: 30px 0;
	}

#section_wrap {
	width: 1000px;
	margin: 0 auto;
	}

#section_wrap .word {
	text-align: center;
	font-weight: bolder;
	margin: 20px 0;
	}

#section_wrap .content img {
	max-width: 1000px;
	}