section {
	width: 100%;
	padding: 30px 0;
}

#section_wrap {
	width: 1400px;
	margin: 0 auto;
}

#section_wrap .word {
	text-align: center;
	font-weight: bolder;
	margin: 20px 0;
	}

#section_wrap .content {
	margin-bottom: 30px;
	text-align: center;
}

/* YEAR MONTH SELECT START */
#section_wrap .select_wrap {
	width: 500px;
	margin: 20px auto;
	padding: 10px 30px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 60px;
	text-align: center;

	}

#section_wrap .select_wrap select {
	width: 100px;
	padding: 5px;
	text-align: right;
	margin: 3px;
	border: 0;
	border-bottom: 1px solid #ccc;

	}
/* YEAR MONTH SELECT END */

/* CALENDER START */
#section_wrap .calender_wrap {
	width: 1400px;
	margin: 0 auto 30px;
	}

#table_calender {
	width: 100%;
	border-collapse: collapse;
	}

#table_calender tr th {
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	padding: 5px 0;
	}

#table_calender tr th:first-child {
	background-color: #fff5f5;
	}

#table_calender tr th:last-child {
	background-color: #e8fdff;
	}

#table_calender tr td {
	border: 1px solid #ccc;
	text-align: right;
	height: 150px;
	vertical-align: top;
	padding: 3px;
	width: 210px;
	}

#table_calender tr td:first-child {
	background-color: #fff5f5;
	}

#table_calender tr td:last-child {
	background-color: #e8fdff;
	}

#table_calender tr td a.write {
	display: inline-block;
	border-radius: 3px;
	padding: 0 6px 2px;
	background-color: #4eccae;
	color: #fff;
	}

#table_calender tr td ul.plan {
	overflow: hidden;
	padding: 5px;
}

#table_calender tr td ul.plan li {
	border-bottom: 1px dashed #ccc;
	margin-top: 5px;
	}
/* CALENDER END */

/* WRITE PLAN START */
#write_plan {
	display: none;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, .7);
	}

#write_plan .write_plan_wrap {
	width: 700px;
	margin: 50px auto 0;
	text-align: center;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 50px 0;
	}

#write_plan .write_plan_wrap .year_month_date {
	margin-bottom: 20px;
	}

#write_plan .write_plan_wrap select {
	width: 70px;
	padding: 5px;
	text-align: right;
	margin: 3px;
	border: 1px solid #ccc;
	}

#write_plan .write_plan_wrap input {
	width: 400px;
	padding: 10px;
	margin: 3px;
	}

#write_plan .write_plan_wrap input[type='file'] {
	width: 402px;
	border: 1px solid #ccc;
	}

#write_plan .write_plan_wrap input[type='button'],
#write_plan .write_plan_wrap input[type='reset'] {
	width: 120px;
	}
/* WRITE PLAN END */

/* SHOW PLAN START */
#show_plan {
	display: none;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, .7);
	}

#show_plan .show_plan_wrap {
	width: 470px;
	margin: 20px auto 0;
	text-align: center;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 50px 0;
	}

#show_plan .show_plan_wrap ul {
	overflow: hidden;
	}

#show_plan .show_plan_wrap ul li {
	float: left;
	}

#show_plan .show_plan_wrap ul li.detail {
	width: 450px;
	padding: 0 10px;
	}

#show_plan .show_plan_wrap ul li.share_comment {
	width: 285px;
	padding: 0 10px;
	text-align: left
	}

#show_plan div.share_title {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	text-align: center;
	}

#show_plan div.share_input input[name='search_friend'] {
	width: 255px;
	}

#show_plan div.share_list {
	width: 262px;
	position: relative;
	top: -3px;
	left: 3px;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 2px 7px;
	display: none;
	}

#show_plan div.share_list ul {
	width: 100%;
	}

#show_plan div.share_list ul li {
	width: 100%;
	clear: both;
	padding: 3px 0;
	}

#show_plan div.share_list ul li:hover {
	background-color: #f2f2f2;
	}

#show_plan div.comment_title {
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
	margin-bottom: 5px;
	text-align: center;
	}

#show_plan div.comment_input input[name='comment'] {
	width: 210px;
	}

#show_plan div.comment_list {
	width: 275px; height: 310px;
	position: relative;
	top: 3px;
	left: 3px;
	padding: 2px 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: auto;
	}

#show_plan div.comment_list ul {
	width: 100%;
	}

#show_plan div.comment_list ul li {
	width: 250px;
	clear: both;
	padding: 5px;
	border-bottom: 1px solid #e3e3e3;
	border-radius: 2px;
	}

#show_plan .show_plan_wrap .year_month_date {
	margin-bottom: 20px;
	}

#show_plan .show_plan_wrap select {
	width: 70px;
	padding: 5px;
	text-align: right;
	margin: 3px;
	border: 1px solid #ccc;
	}

#show_plan .show_plan_wrap input {
	width: 400px;
	padding: 10px;
	margin: 3px;
	}

#show_plan .show_plan_wrap img.plan_img {
	max-width: 424px;
}

#show_plan .show_plan_wrap input[type='file'] {
	width: 402px;
	border: 1px solid #ccc;
	}

#show_plan .show_plan_wrap input[type='button'] {
	width: 120px;
	}
/* SHOW PLAN END */